# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/.terraform.tfstate.lock.info
**/crash.log

# Node
visitor-func/node_modules/

# Local Azure Functions settings (do not commit)
visitor-func/local.settings.json
