# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/.terraform.tfstate.lock.info
**/crash.log
**/crash.*.log

# Node.js dependencies
node_modules/

# Local Azure Functions settings (do not commit secrets)
local.settings.json

# Editor / IDE clutter

*.swp
*.swo

# OS-specific junk
.DS_Store
Thumbs.db